* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.logo {
  padding-left: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}

.logo a {
  color: white;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background-color: #fefefe;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #fefefe;
}

.container {
  height: 100%;
  background: url(img/colosseum-sketch-with-pencil.jpeg) no-repeat center center;
  background-size: cover;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  /* z-index: -1; */
}

.container > div {
  z-index: 1;
  position: relative;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

form.box {
  display: flex;
  width: 100%;
  max-width: 800px;
  /* position: absolute; */
  top: 15%;
  left: 30%;
  color: #fff;
  text-align: center;
}

form.box h1 {
  font-weight: normal;
}

form.box input {
  border: none;
}

form.box input[type="text"] {
  background-color: #fff;
  width: 600px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px 0 0 25px;
}

form.box input[type="submit"] {
  width: 130px;
  height: 50px;
  background-color: orange;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: #fff;
}

form.box input[type="text"]::placeholder {
  color: gray;
}
#today-issue {
  display: flex;
}
.issue {
  /* background: white; */
  margin: 40px;
  border: 1px solid black;
  width: 45%;
  height: 150px;
  font-size: 21px;
  font-weight: bold;
  float: left;
}

.tab_content {
  margin-left: 3%;
  clear: both;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  background: white;
  color: #999;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: black;
  color: white;
}

.conbox {
  width: 100%;
  height: 1000px;
  display: none;
}

input[id="tab01"]:checked ~ .con1 {
  display: block;
}

input[id="tab02"]:checked ~ .con2 {
  display: block;
}

input[id="tab03"]:checked ~ .con3 {
  display: block;
}

input[id="tab04"]:checked ~ .con4 {
  display: block;
}

.rooms {
  width: 300px;
  height: 300px;
  margin: 25px;
  border: 1px solid black;
  /* float: left; */
  display: inline-flex;
  align-items: center;
  /* align-content: center; */
  background: url(img/FightGladiator.jpeg) no-repeat center center;
  background-size: cover;
}

.btn {
  transform: translate(110px, 0);
}

.footer {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.footer a {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}
